<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>index</title>
  <script src="<%= htmlWebpackPlugin.options.projectPath %>/vendor/flexible.js"></script>
</head>

<body>
  <div id="app">

    <el-container>

      <el-header height="90px" class="header-box">
        <section class="header-bounce-wrap">
          <ul class="bounce-list">
            <li class="bounce-list-item" v-for="(item, index) in bounceArr" :key="item" :style="{'animation-delay': (index * 0.1) + 's'}">{{ item }}</li>
          </ul>
        </section>
      </el-header>

      <el-main>
        <ul class="index-nav">
          <li class="index-nav-item" v-for="(item, index) in navArr" :key="item.url">
            <a class="nav-item-link" :href="item.url">
              <img class="nav-item-icon" :src="navIcon" alt="">
              <span class="nav-item-text">&nbsp;{{ item.name }}</span>
            </a>
          </li>
        </ul>
      </el-main>

    </el-container>

  </div>

  <!-- 插件 -->
  <!-- <script src="<%= htmlWebpackPlugin.options.projectPath %>/vendor/live2d_widget/L2Dwidget.min.js"></script> -->
</body>

</html>
