html,
body {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
}

dl,
ul,
ol {
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;

  &::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
